    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    /* start global rules */
    
     :root {
        --main-color: hsl(322, 100%, 66%);
        --secondary-color: hsl(193, 100%, 96%);
        --section-background: hsl(192, 100%, 9%);
        --Grayish-Blue: hsl(208, 11%, 55%);
        --padding-section: 60px;
        --padding-main: 60px;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: "Open Sans", sans-serif;
    }
    
    * {
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style: none;
    }
    
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Small */
    
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    /* Medium */
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    /* Large */
    
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    /* end global rules */
    /* start header */
    
    .header {
        position: absolute;
        width: 100%;
        margin-left: 0;
        background-image: url(../css/images/bg-hero-desktop.svg);
        min-height: 100vh;
    }
    
    .header .container nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    
    nav .logo {
        width: 150px;
    }
    
    .link {
        display: inline-block;
        color: var(--section-background);
        padding: 10px 65px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        font-size: 20px;
        font-weight: 700;
        background-color: #f2f2f2;
        box-shadow: 2px 4px 2px rgb(101, 100, 100);
    }
    
    .container .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        justify-content: space-between;
        min-height: 50vh;
        padding: 30px 0;
        gap: 50px
    }
    
    @media(max-width:992px) {
        .container .content {
            flex-direction: column;
        }
        .container .text {
            max-width: 100%;
            text-align: center;
        }
    }
    
    .container .content h2 {
        font-size: 40px;
        color: var(--section-background);
        font-weight: 800;
        margin-bottom: 30px;
    }
    
    .container .content p {
        font-size: 17px;
        color: var(--section-background);
        ;
    }
    
    .container .content a {
        display: inline-block;
        padding: 15px 55px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        font-size: 20px;
        font-weight: 700;
        background-color: var(--main-color);
        margin-top: 30px;
        color: white;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    
    .container .content a:hover {
        background-color: black;
    }
    
    .images {
        min-width: 50%;
    }
    
    img {
        max-width: 100%;
    }
    /* end header */